@using ProjectTracker.Core.ViewModels.Admin
@model AssignRolesViewModel


<div class="row justify-content-center">

    @if (ViewBag.Success != null)
    {
        @if (ViewBag.Success)
        {
            <div class="text-center">
                <h1 class="h4 text-success-900 mb-4">Success!</h1>
            </div>
        }
        else
        {
            <div class="text-center">
                <h1 class="h4 text-danger-900 mb-4">Something went wrong :(</h1>
            </div>
        }
    }

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Assign Roles</h1>
                            </div>
                            <form class="user" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="@Model.Employee"></label>
                                    <select asp-for="@Model.Employee" class="form-select" aria-label="Default select example">
                                        
                                        @foreach (var employee in Model.Employees)
                                        {
                                            <option value="@employee">@employee</option>
                                        }

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Role"></label>
                                    <select asp-for="@Model.Role" class="form-select" aria-label="Default select example">

                                        @foreach (var role in Model.Roles)
                                        {
                                            <option value="@role">@role</option>
                                        }

                                    </select>
                                </div>
                                <hr>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Assign</button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <partial name="_ValidationScriptsPartial" />

    </div>

</div>