@using ProjectTracker.Core.ViewModels.Ticket
@model TicketDetailsViewModel

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@Model.Title</h1>
</div>


<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@Model.Title</h6>
                <h6 class="m-0 font-weight-bold justify-content-center">Status: @Model.Status</h6>
                <div class="dropdown no-arrow">
                    <p>@Model.CreatedOn</p>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <p>Project: <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId">@Model.Project</a></p>
                <p>Submitted by: <a asp-controller="Employees" asp-action="Details" asp-route-id="@Model.SubmitterId">@Model.Submitter</a></p>
                <p>
                    Assigned to: @if(Model.AssignedEmployee != null)
                    {
                        <a asp-controller="Employees" asp-action="Details" asp-route-id="@Model.AssignedEmployeeId">
                            @(Model.AssignedEmployee != null ? Model.AssignedEmployee : "Not Assigned")
                        </a>
                    }
                    else
                    {
                        @:Not Assigned
                    }
                </p>
                <p>Priority: @Model.Priority</p>
                <p>Status: @Model.Status</p>

                @if(Model.Status != "Done")
                {
                    <a href="/Tickets/Details/@Model.Id/Assign" class="btn btn-success">Assign to Employee</a>
                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                }
            </div>
        </div>
    </div>

    <!-- Content Column -->
    <div class="col-lg-4">

        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Description</h6>
            </div>
            <div class="card-body">
                <p>
                    @Model.Description
                </p>
            </div>
        </div>

    </div>

</div>


<!-- Content Row -->
<div class="row">

    @await Html.PartialAsync("_TicketCommentsPartial", Model.Comments)

    @await Html.PartialAsync("_TicketHistoryPartial", Model.History)

    
</div>