@using ProjectTracker.Core.ViewModels.Department
@model CreateDepartmentViewModel


<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create New Department</h1>
                            </div>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-sm-15 mb-3 mb-sm-0">
                                        <label asp-for="@Model.Name"></label><br />
                                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                        <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-15 mb-3 mb-sm-0">
                                        <label>Leader</label><br />
                                        <select asp-for="@Model.LeadId" class="form-select">

                                            @foreach (var employee in Model.Employees)
                                            {
                                                <option value="@employee.Id">@employee.UserName</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>